<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Загрузка файлов и папок</title>
  <!-- Подключение общего файла стилей -->
  <link rel="stylesheet" href="/static/css/styles.css?2">
</head>
<body class="bg-light">
  <div class="container">
    <header>
      <h1 class="text-center mb-3">Загрузка файлов и папок</h1>
    </header>
<nav>
  <a href="{{ url_for('list_uploads') }}">📂 Мои архивы</a>
</nav>

    <section>
      <!-- Кнопка спойлера -->
      <button id="toggleOptions" class="btn btn-secondary">➕ Дополнительные опции</button>

      <!-- Блок с дополнительными полями, скрытый по умолчанию -->
      <div id="optionsContainer" class="hidden">
        <input type="text" id="zipName" class="form-control" placeholder="Имя архива">
        <input type="password" id="zipPassword" class="form-control" placeholder="Пароль">
      </div>
    </section>

    <section class="file-selection">
      <!-- Кнопки выбора файлов и папок -->
      <div class="button-group">
        <button id="selectFilesBtn" class="btn btn-primary">📁 Выбрать файлы</button>
        <button id="selectFoldersBtn" class="btn btn-primary">📂 Выбрать папки</button>
      </div>

      <!-- Кнопка очистки списка -->
      <button id="clearSelectionBtn" class="btn btn-danger btn-sm" disabled>🗑 Очистить список</button>

      <!-- Список выбранных файлов -->
      <div id="fileList" class="file-list-container">
        <!-- тестовая
         <div class="file-item">
             <span class="file-name">Очень-длинное-имя-файла-которое-нужно-ограничить-отображением.ext</span>
      <button class="btn-delete">🗑</button>
           -->
      </div>
    </section>

    <section class="upload-section">
      <!-- Кнопка загрузки -->
      <button id="uploadButton" class="btn btn-primary w-100" disabled>⬆ Загрузить</button>

      <!-- Прогресс загрузки файлов -->
      <div id="progressContainer" class="hidden mt-4">
        <p id="statusText" class="text-center">Загрузка файлов...</p>
        <div class="progress">
          <div id="uploadProgressBar" class="progress-bar bg-primary" style="width: 0%;">0%</div>
        </div>
      </div>

      <!-- Прогресс упаковки ZIP -->
      <div id="zipProgressContainer" class="hidden mt-4">
        <p id="zipStatusText" class="text-center">📦 Упаковка архива...</p>
          <!--
        <div class="progress">
          <div id="zipProgressBar" class="progress-bar bg-warning" style="width: 0%;">0%</div>
        </div>
         -->
      </div>
    </section>
  </div>

  <!-- Подключение внешнего JS-файла -->
  <script src="/static/js/main.js"></script>
</body>
</html>
